@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #a855f7;
  --color-dark: #0f172a;
  --color-dark-card: #1e293b;

  --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    background-color: var(--color-dark);
    color: white;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
  }
}